// bower:scss
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Light.eot');
  src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: #333;
  // margin-top: 30px;
}

body, h1, h2, h3, h4, h5, h6, .header {
  font-family: 'HelveticaNeueCyr' !important;
}

body {
  background: #fff;
}
// FIXES
.item, .card, .button {
  border-radius: 0px !important;
}
.card {
  border: none !important;
  img {
  border-radius: 0px !important;
  }
}
// FIXES

// .container {
//   max-width: 1200px;
//   margin: 0 auto;
// }

header {
  // margin-top: -12px;
}

.owl-dots {
  position: relative;
  top: -47px;
}
.owl-dot span{
  width: 13px !important;
  height: 13px !important;
}
.owl-dot.active span {
  background: #e9000e !important;

}

  .owl-slide {
    background-image: url('https://images.unsplash.com/photo-1437915015400-137312b61975?fit=crop&fm=jpg&h=800&q=80&w=1200') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }

.top-contacts-wrap {
  margin-top: 35px;
}

.top-contacts {
  font-weight: 300;

  .item {
    font-size: 22px;
    text-align: right;
  }

  @media only screen and (min-width: 767px) and (max-width: 1202px) {
    // .top-contacts {
      margin-bottom: 1rem !important;
    // }

   .item {
    font-size: 15px;
    position: relative;
    left: -40px;
   }

  }
  .sub {
    padding-top: 5px;
    font-size: 14px;
  }

  .contacts-icon {
    width: 15px;
    position: relative;
    top: 2px;
    left: -4px;
  }
}


.mobile-submenu {
  display: none
}


.close-up {
  display: none;
}

@media (max-width: 767px) {
  .top-contacts-wrap {
    margin-top: 29px;
  }


  .top-contacts {

    .item {
      text-align: left;
    }

    .search-input {
      display: none;
    }

  }

  .main-item-data {
    text-align: left;
    .presence {
      text-align: left !important;
    }
  }
}


.slider {
  margin-bottom: 15px;
  min-height: 400px;
  // height: 300px;
}

.owl-carousel {
  // min-height: 400px !important;
  // height: 300px !important;
}
.menu--top-wrap {
  // margin-bottom: 50px !important;
}

.menu--top {
  height: 50px;
}

.meta {
    position: relative;
    top: 27px;
}

.contacts {
  .contacts-icon {
    width: 13px;
    position: relative;
    top: 2px;
    left: -4px;
  }
  text-align: right;
  font-weight: 300 !important;

  .row--main {
    font-size: 20px;
  }

  .row--second {
    font-size: 13px;
    position: relative;
    top: -20px;
  }

  ul{
    li { display: inline-block; }
  }
}

.search-input{
  position: relative;
  top: -4px;
  float: right;

  input {
    border: none !important;
    background-color: #e9e9e9 !important;
    border-radius: 0px !important;
    height: 20px;
  }
  .search.icon {
    opacity: 1 !important;
    color: #252525 !important;
    // position: relative;
    top: -1px !important;
    // right: -6px !important;
  }
}

.header--red {
  color: #e9000e !important;
  margin-bottom: 32px !important;
}

.link--red {
  color: #e9000e;
  &:hover{
    color: #ea0f1c;
  }
}

.specs {
  margin-bottom: 43px;
  img {
    width: 100%;
  }
}

.main-items {
  .card {
    .inner:hover {
      background: #dcdcdc;
    }
  }
  .header--main {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .content {
    .header {
      padding: 15px 17px;
      border-bottom: 1px solid #9da0a3;
      .price {
        font-weight: bold;
        font-size: 16px;
        // float: left;
      }
      .presence {
        text-align: right;
      }
      .presence--true {
        color: #34b746;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .description {
      padding: 15px 17px;
    }
  }
}

.rows--hidden {
  display: none;
}

.show-more, .close-up {
  width: 260px;
  margin: 0 auto;
  margin-top: 35px;
}

.advantages {
  margin-top: 75px;
  background: #edeeee;
  border: 1px solid #ebe8e8;
  padding: 75px 75px;
  .img-wrap {
    height: 70px;
  }
  .content {
    font-size: 18px;
    margin-top: 24px;
    text-align: center;
    font-weight: 300;
  }
}


@media only screen and (max-width: 767px) {
  .advantages {
    img {
      width: 55px;
    }
    .content {
      font-size: 14px;
    }
  }

}
.about-wrap {
  background: url(../images/about_p.png);
  padding-top: 70px;
  padding-bottom: 30px;
  border-top: 2px solid #ebe8e8;
  border-bottom: 2px solid #ebe8e8;

}

.about {

  .content {
    font-size: 18px;
    font-weight: 300;

    p.first {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
}

.news {
  margin-top: 75px;
}

#news_nav {
  float: right;
  .owl-prev,.owl-next {
    display: inline-block;
  }
  .owl-next {
    margin-left: 8px;
  }
}

#youtube_nav {
  float: right;
  .owl-prev,.owl-next {
    display: inline-block;
  }
  .owl-next {
    margin-left: 8px;
  }
}

#partners_nav {
  float: right;
  .owl-prev,.owl-next {
    display: inline-block;
  }
  .owl-next {
    margin-left: 8px;
  }
}

.youtube {
  margin-top: 75px;
}

.partners-wrap {
  border-top: 2px solid #ebe8e8;
  padding-top: 80px;
  margin-top: 70px;
}

.partners {
}
.slide-meta {
  margin-top: 10px;
  .slide-date {}
  .slide-desc {
    margin-top: 7px;
    font-weight: bold;
  }
}

// #content {
//   flex: 1;
// }

.footer {
  background: #edeeee;
}

.footer.segment {
  margin-top: 40px;
  padding: 70px 0px;
  background: #edeeee !important;
  border: none;
  .header {
    font-weight: 300 !important;
    font-size: 18px !important;
  }
  .content {
    font-size: 14px;
    font-weight: 300;
    position: relative;
    top: -8px;
  }
  .contacts-wrap {
    text-align: center;
    .header {
      font-size: 21px !important;
    }
    .phone-icon--big {
      width: 28px;
      float: left;
    }
  }
}


.more-menu-sub {
  display: none !important;
  background: #db2828 !important;
  border-radius: 0px !important;
  .item {
    color: #fff !important;
  }
}

.catalog-about {
  margin-top: 80px;
  padding-bottom: 70px;
}

.catalog-content {
  padding-left: 25px;
  .styled-list {
    position: relative;
    left: -7px;
  }
  .header {
    font-size: 14px;
    font-weight: bold;
  }
}

ul.styled-list {
  list-style-image: url('../images/list-item.png') !important;
  list-style-position: inside;
  padding-left: 0px;

  li {
    padding-left: 10px;
    span {
      position: relative;
      top: 5px;
      padding-left: 7px;
    }
  }
}

.breadcrumb {
  font-size: 14px;
  // font-weight: 300;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #cecece;
  width: 100%;
  margin-bottom: 24px !important;

  .section {
    color: #181818 !important;
  }

  .active {
    font-weight: 400 !important;
    color: #e9000e !important;
  }
  .circle {
    font-size: 6px !important;
    position: relative;
    top: -2px;
  }
}

.my-red {
  color: #e9000e !important;
}

.subheader {
  font-size: 14px;
  font-weight: 300;
  color: #34b746;
  font-size: 16px;
  font-weight: bold;
}

.header--product {
  font-weight: 300 !important;
  font-size: 20px !important;
}

.product-desc {
  // margin-top: 80px;
}

.product-definition {
  // background: green;
  padding-left: 60px !important;

  .value {
    font-size: 33px;
    font-weight: bold;
  }

  .buy-button {
    margin-top: 60px;
  }


}

.product-promo-text {
  font-size: 18px;
  font-weight: 300;
  img {
    float: left;
    margin-right: 18px
  }
}

.product-chars {
  padding-left: 60px !important;
  .product-chars-inner {
      border-top: 1px solid #cecece;
      padding-top: 40px;
      margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .product-definition, .product-chars {
  // background: green;
    padding-left: 14px !important;
  }

  .buy-button {
    margin-top: 30px !important;
  }
}

.dotted-list {
  // ul {
  //   padding-left: 0px;
  //   margin-top: 30px;
  // }
  //   ul li {
  //       // border-bottom: 2px dotted #ccc;
  //           padding-left: 14px;
  //           padding-top: 5px;
  //       list-style: none;
  //       line-height: 2em;
  //       text-align: right;
  //       clear: both;
  //       margin: 0.5em 0 0 0;
  //       // background: url(../images/dline.png) repeat-x;
  //     &:nth-child(odd) {
  //       background: #c5d0dd;
  //     }
  //   }


  //   .defined {
  //     width: 45%;
  //     // background: white;
  //     text-align: left;
  //     padding-left: 9px;
  //   }

  //   span {
  //     position: relative;
  //     // top: -14px;
  //   }

  //   span.definition {
  //       float: left;
  //       // background: white;
  //       max-width: 35%;
  //       text-align: left;
  //   }

  //   span {
  //       display: inline-block;
  //       // border: 2px solid #fff;
  //       padding: 0;
  //       margin: 0 0 -2px 0;
  //   }
  margin-top: 20px;
  margin-bottom: 20px;
  tr {
    // line-height: 2.2em;
      td {
        padding: 10px;
      }
      &:nth-child(odd) {
             background: #c5d0dd;
      }

  }
}

.product-slider {
  margin-top: 20px;
}


.product-image {
  position: relative;
  left: 0;
  top: 0;
  // width: 100vw;
  // height: 100vh;
  background-color: gray;

  .control-l {
    position: absolute;
    left:0px;
    top: 50%;
    transform: translate(0%, -50%);
    width: 99px;
    height: 101px;
    // background-color: rgba(255, 255, 255, .5);
    color: white;
    text-shadow: 1px 1px 2px black;
    // box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  }

  .control-r {
    position: absolute;
    right:-13px;
    top: 50%;
    transform: translate(-0%, -50%);
    width: 99px;
    height: 101px;
    // background-color: rgba(255, 255, 255, .5);
    color: white;
    text-shadow: 1px 1px 2px black;
  }

  .icon {
    font-size: 5em;
    line-height: 101px;
  }
}

.sidebar-left {
  width: 230px;

  .item {
    img {
      width:100%;
      height:100%;
    }
    .image-container {
        position: relative;
        width: 230px;
        // height: 300px;
        .header {
          // padding: 60px 35px;
          color: #fff !important;
        }
        .content {
          padding: 30px 25px;
        }
        .lined {
          border-bottom: 2px solid #212121;
        }
        .time {
          font-style: italic;
        }
        .pt50 {
          padding-top: 50px;
        }

    }
    .image-container .after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
               // color: #212121 !important;
        background: rgba(0, 0, 0, .5);
        transition: background-color 0.3s;
        color: #fff !important;

    }
    .image-container:hover .after {
        display: block;
        background: rgba(0, 0, 0, .6);
        // transition: opacity 0.2;
        .header {
          color: #fff !important;
        }
        .lined {
          border-bottom: 2px solid #fff;
        }
        color: #fff !important;
    }

  }
}

.news-wrap {
  .header {
    font-size: 24px !important;
    // font-family:
  }
  .news-header {
    padding-bottom: 13px;
    border-bottom: 1px solid #cecece;
    margin-bottom: 25px;
  }
  .sub {
    font-size: 14px !important;
    font-style: italic;
  }
}

.news-add {
  // .column {
  //   margin-right: 10px;
  // }
}


.fz14 {
  font-size: 14px !important;
  font-weight: 300 !important;
}


.fz16 {
  font-size: 16px !important;
  font-weight: 300 !important;
}

.fz18 {
  font-size: 18px !important;
  font-weight: 300 !important;
}

.fz20 {
  font-size: 20px !important;
  font-weight: 300 !important;
}

.fz24{
  font-size: 24px !important;
}

.contacts-meta {
  .address {
    position: relative;
    left: -90px;
  }
}
.contacts-wrap {
  .contacts-meta {
    margin-top: 35px;
    .contacts-data {
      text-align:left;
      width: 50% !important;
    }

    @media (max-width: 1210px) {
      .contacts-data {
        width: 50% !important;
      }
    }
    .address {
      text-align: left;
    }
  }

    @media only screen and (min-width: 767px) and (max-width: 1210px) {
      .contacts-data {
        width: 50% !important;
      }
      .address {
        position: relative;
        left: -40px;
      }
    }
  @media (max-width: 767px) {
    .contacts-meta {
      margin-top: 15px;
      font-size: 15px !important;
      .address {
        text-align: left !important;
        left: 0;
      }
    }
  }

  .contacts-item {
    margin-bottom: 35px;
    line-height: 1.6;
  }
}

.about-company{
  margin-top: 55px;
  .meta {
    line-height: 1.4;
  }
}

.header-catalog{
  font-size: 20px !important;
  font-weight: 300 !important;
}

.catalog-details-wrap{
  margin-top: 48px;
}

.catalog-details-header {
  margin-top: 20px;
  padding: 5px;
  border-bottom: 1px solid #cecece;
  width: 100%;
  .icon {
    float: right;
    color: #cacaca !important;
    font-size: 18px;
  }
}
.catalog-details-content {
  display: none;
  a {
    color: #e9000e;
    &:hover {
      color: #dd444f;
    }
  }
  ul {
    padding: 0px;
    list-style-type: none;
    li {
      margin-bottom: 13px;
    }
  }
  .download {
    float: right;
  }
}
.spare-icon {
  float: right;
  margin-bottom: 40px;


}


.spare-meta{
  .header {
    margin-top: 60px !important;
  }

  .styled-list {
    margin-bottom: 30px;
  }
}


.underline {
  padding-bottom: 10px !important;
  border-bottom: 1px solid #cecece !important;
}

.spare-icons {
  margin-top: 50px;
  margin-bottom: 50px;

    .logo1 {
    width: 273px;
  }
  .logo2 {
    width: 222px;
  }

  .logo3 {
    width: 264px;
  }

  .logo4  {
    width: 211px;
  }

  .logo5 {
    width: 109px;
  }
  .logo6 {
    width: 83px;
  }

  @media (max-width: 767px) {
    .logo5 {
      width: 69px;
    }
    .logo6 {
      width: 53px;
    }
  }

}


.service {
  font-weight: 300;
}

.service-list {
  img { margin-right: 13px; }
  .item { margin-bottom: 10px; }

}

.preim {
  margin-bottom: 90px;
  .header {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
  }
  text-align: center;

  .content {
    margin-top: 12px;
  }

  .preim-img-wrap {
    height: 60px;
  }
  img {
    display: inline;
    width: 50px;
  }

  .image-bottom {
    margin-top: 50px;
  }
}



.cd-top {
  &:hover {
    color: white;
  }
  z-index: 10;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 33px;

  display: inline-block;
  height: 40px;
  width: 40px;

  position: fixed;
  bottom: 40px;
  right: 10px;

  box-shadow: 0 0 10px rgba(#000, .05);

  /* image replacement properties */
  overflow: hidden;
  // text-indent: 100%;
  white-space: nowrap;

  background: rgba(233,0,14, .8);

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;

  &.cd-is-visible, &.cd-fade-out, .no-touch &:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }

  &.cd-is-visible { /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }

  &.cd-fade-out { /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
  }

  .no-touch &:hover {
    background-color: rgba(233,0,14, 1);
    opacity: 1;
  }
}




.main-image-container {
  max-width: 375px;
    position: relative;
    // width: 230px;
    height: 179px;
    overflow: hidden;
    img {
      width: 100%;
    }
    // height: 300px;
    .header {
      // padding: 60px 35px;
      position: absolute;
      top: 20px;
      width: 20%;
      left: 15px;
      font-size: 1.1rem;
      color: #fff;
      font-weight: bold;
      line-height: 1.2;
    }
    .content {
      position: absolute;
      bottom: 15%;
      width: 60%;
      left: 5%;
      color: #fff;
      font-weight: 300;
      font-size: 1rem;
    }

    .price {
      position: absolute;
      top: 85%;
      right:  5%;
      // bottom: 20px;
      font-size: 2rem;
      color: #fff;
      font-weight: bold;
    }
}

.main-image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
           // color: #212121 !important;
    background: rgba(0, 0, 0, .4);
    transition: background-color 0.3s;

}
.main-image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
    // transition: opacity 0.2;
    .header {
      color: #fff !important;
    }
    .lined {
      border-bottom: 2px solid #fff;
    }
    color: #fff !important;
}

@media only screen and (max-width: 767px) {

   .main-image-container {
    .header {
      font-size: 14px;
    }
    .price {
      top: 85%;
      right:  5%;
      font-size: 24px;
    }
   }

}



@media only screen and (max-width: 1210px) {

   .main-image-container {

    .price {
      top: 75%;
      right:  5%;
      font-size: 24px;
    }
   }

}

@media only screen and (min-width: 767px) and (max-width: 1002px) {
    .main-image-column {
      width: 50%  !important;
    }
   .main-image-container {
    .header {
      font-size: 14px;
    }

    .content {
      font-size: 14px;
      top: 80%;
    }

    .price {
      top: 80%;
      right:  5%;
      font-size: 18px;
    }
   }

   .third-spec {
    display: none !important;
   }

}

.product-image-container {
    position: relative;
    // width: 230px;
    // height: 179px;
    overflow: hidden;
    img {
      width: 100%;
    }
    // height: 300px;
}
.product-image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
           // color: #212121 !important;
    // background: rgba(255, 255, 255, .5);
    transition: background-color 0.3s;

}
.product-image-container:hover .after {

    display: block;
    background-color: rgba(0, 0, 0, .2);
    background-image: url(../images/image-hover.png);
    background-repeat: no-repeat;
    background-size: 80%, 80%, cover;
    background-position: center, center;

    .header {
      color: #fff !important;
    }
    .lined {
      border-bottom: 2px solid #fff;
    }
    color: #fff !important;
}

.modal-form {

  background: none !important;
  img {
    float: right;
    width: 29px;
  }

  .header {
    color: #fff !important;
    font-size: 24px !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
  }
  .content {
  border-radius: 0px !important;
  padding: 10px;
  color: #fff;
    background: rgba(63,63,63, .9) !important;
  }
  .field {
    margin-bottom: 30px;
  }

  .form-wrap {
    padding: 7% 0%;
    width: 55%;
    margin: 0 auto;

    button {
      margin-top: 40px !important;
    }
  }

}

// .mobile-logo-wrap {
//   width: 100% !important;


// }

// .mobile-menu-wrap {
//   position: fixed;
//   height: 50px;
//   line-height: 50px;
//   z-index: 1;
//   border-bottom: 1px solid black;
//   width: 100%;
//   background: white;

//   .mobile-logo {
//     width: 30%;
//     display: inline-block !important;
//     margin-left: 10px;
//   }

//   .mobile-search {
//     float: right;
//     position: relative;
//     right: 20px;
//   }

//   .mobile-menu-control {
//     float: right;
//     margin-right: 5px;
//   }
// }

.mobile-menu-wrap {
  position: relative;
  // width: 35% ;

  .search {
    position: relative;
    right: 20px;
  }

  .mobile-logo-wrap {
    // position: relative;
    // left: 35px;
    width: 35% !important;

    img {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

  }

  .phone-wrap {
    width: 45% !important;
    .phone {
      position: relative;
      left: 20px;
    }
  }
}

.side-menu-wrap {
  margin-top: 48px;
}


@media (max-width: 767px) {
  .computer-only-img {
    display: none !important;
  }
}



.slider-caruseul {
    // display: none;
    overflow: hidden;
    margin-top: 0
}
// .slider-caruseul .nav {
//     display: none
// }
.slider-caruseul .slide {
    height: 340px;
    position: relative;
    width: 100%;
    vertical-align: middle;
    color: #fff;

    .subtitle {
      z-index: 3;
      color: white;
      font-size: 25px;
    }
    .title {
      color: #fff !important;
      font-size: 30px;
      font-weight: 700;
      margin-top: 70px;
      // font-family: L;
      position: relative;
      line-height: 32px;
      width: 350px;
      left: 50px;
      // margin-left: 31px;
      z-index: 2;
      float: left;
    }

    .image {
      background-size: cover!important;
      background-position: center!important;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      bottom: 0;
      left: 0;
    }
    .after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
               // color: #212121 !important;
        background: rgba(0, 0, 0, .4);
        transition: background-color 0.3s;
    }

    .button {
      // margin-left: 31px;
      margin-top: 31px;
      clear: both;
      position: relative;
      float: left;
      left: 50px;
      color: #fff;
      // opacity: 0;
      // transition: all .6s .6s;
      z-index: 2;
      &:hover {
        color: #e9000e !important;
      }
    }
}

.mobile-card {
  display: none;
}


@media (max-width: 767px) {
  .advantages {
    padding: 15px;
  }
  .top-contacts {
    display: none !important;
  }

  .slider-caruseul .slide .title {
    font-size: 22px;
    width: 70%;
  }

  .computer-card {
    display: none;

  }

  .mobile-card {
    display: inline-block;
    .row {
      margin-bottom: 10px;
    }

    .title {
      font-size: 14px;
    }

    .price {
      font-size: 16px;
      font-weight: bold;
      margin-top: 13px;
    }
    .presence--true {
      color: #34b746;
      font-size: 12px;
      font-weight: bold;
    }
  }


  .logo {
    display: none !important;
  }
}


// Footer fix
@media (max-width: 991px) {
  .contacts-footer {
    position: relative;
    top: -185px;
  }

  .footer-address {
    position: relative;
    top: 90px;
  }
}

@media (max-width: 767px) {
  .contacts-footer {
    position: relative;
    top: -282px;
  }

  .footer-address {
    position: relative;
    top: 90px;
  }
}

.product-price {

  .subheader {
    margin-top: 14px;
  }
}

// product chars fix
.mobile-only-adv{
  display: none !important;
}


@media (max-width: 767px) {
  .mobile-only-adv {
    // width: 260px;
    width: 100%;
    display: inline-block !important;
    // float: left;
    // margin: 0 auto;
    font-size: 14px !important;
    text-align: center;
    .column {
      width: 100% !important;
    }
    img {
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
}


.demo-image {
  position: relative;
  left: 20px;
}

.product-image img {
  margin: 0 auto;
}


.tablet-advantages {
  display: none;
}
// product card advantages fix
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .tablet-advantages {
    display: inline-block;
    margin-top: 30px;
  }
  .computer-advantages {
    display: none;
  }

  .footer-contact-wrap {
    position: relative;
        top: -97px;
  }
}

.footer-contact-wrap {
  max-width: 333px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  #footer-grid {
    .footer-address {
      width: 100% !important;
      text-align: center;
    }
  }


}

@media (max-width: 1101px) {
  .main-item-data {
    .column {
      width: 100% !important;
      // margin-bottom: 2px !important;
    }
    .presence {
      text-align: left;
      float: left;
      margin-top: -25px;
    }
  }
}
