{% extends "layouts/default.njk" %}

{% block content %}
    {% include 'includes/header.njk' %}
    <div class="ui container">
      <div class="ui breadcrumb">
        <a class="section">Главная</a>
        <i class="my-red circle icon divider"></i>
        <a class="active section">Люльки</a>
      </div>
    </div>


    <div class="ui container">
    <h2 class="ui header header--red">
      Люльки
    </h2>
        <div class="main-items">
            <div class="ui grid">
              {% for row in [1,2] %}
                <div class="row">

                  {% for num in [1,2,3,4] %}
                    {% include 'includes/main-item.njk' %}
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
        </div>
    </div>

    <div class="catalog-about about-wrap">
        <div class="ui container">
            <div class="about">
                <div class="ui stackable grid">
                    <div class="six wide column">
                        <img src="images/catalog_about.png" alt="" class="ui image">
                    </div>
                    <div class="ten wide column">
                        <div class="catalog-content">
                            <p>Компания Вира-Трейд предлагает свои услуги по продаже, монтажу и сервисному обслуживанию такого незаменимого во многих сферах оборудования как монтажные люльки, их еще называют подъемные корзины или строительные корзины. Наше предложение характеризуется целым рядом важных преимуществ, обеспечивающих максимальную эффективность приобретения этого оборудования.</p>

                            <div class="ui two column stackable grid">
                                <div class="column">
                                    <div class="header">Назначение:</div>

                                    <ul class="styled-list">
                                        <li><span>Проведение высотных монтажных работ;<span></li>
                                        <li><span>Ремонт фасадов и установка рекламы;<span></li>
                                        <li><span>Удаление сосулек с козырьков крыш;<span></li>
                                        <li><span>Замена ламп уличного освещения;<span></li>
                                        <li><span>Спиливание сухих веток и т.п.<span></li>
                                    </ul>

                                </div>

                                <div class="column">
                                    <div class="header">Приемущества:</div>

                                    <ul class="styled-list">
                                        <li><span>Проведение высотных монтажных работ;<span></li>
                                        <li><span>Ремонт фасадов и установка рекламы;<span></li>
                                        <li><span>Удаление сосулек с козырьков крыш;<span></li>
                                        <li><span>Замена ламп уличного освещения;<span></li>
                                        <li><span>Спиливание сухих веток и т.п.<span></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.njk' %}
{% endblock %}
