{% extends "layouts/default.njk" %}

{% block content %}
    {% include 'includes/header.njk' %}
    <div class="ui container">
      <div class="ui breadcrumb">
        <a class="section">Главная</a>
        <i class="my-red circle icon divider"></i>
        <a class="active section">Наши адреса</a>
      </div>

      <div class="ui grid">
          <div class="four wide column computer only">
              <div class="sidebar-left">
                  <div class="item">
                      <div class="inner">
                        <div class="image-container">
                             <img src="images/item2.png" alt="" class="ui image">
                            <div class="after">
                                <div class="content pt50">
                                    <div class="ui header">КОНСУЛЬТАЦИЯ<br>СПЕЦИАЛИСТА</div>

                                    <p>
Оформите заявку и наши специальсты свяжутся с Вами в течении 10 минут.
                                    </p>
                                    <a href="#" class="fluid  ui red button show-modal">Оформить заявку</a>

                                </div>

                            </div>
                        </div>
                      </div>
                  </div>

                  <div class="item">
                      <div class="inner">
                        <div class="image-container">
                             <img src="images/spec.png" alt="" class="ui image">
                            <div class="after">
                                <div class="content pt50">
                                    <div class="ui header">СПЕЦ-<br>ПРЕДЛОЖЕНИЕ</div>
                                </div>

                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="inner">
                        <div class="image-container">
                             <img src="images/news-item.png" alt="" class="ui image">
                            <div class="after">
                                <div class="content">
                                    <div class="ui header lined">НОВОСТИ</div>
                                    <div class="time">28.02.2017</div>

                                    <div class="ui small header">HIAB 1200RS</div>
                                    <p>
                                        Известный производитель кранов-манипуляторов компания HIAB выпустила новый кран.
                                    </p>
                                    <a href="#" class="fluid  ui red button">Подробнее</a>

                                </div>

                            </div>
                        </div>
                      </div>
                  </div>

                  <div class="item">
                      <div class="inner">
                        <div class="image-container">
                             <img src="images/item1.png" alt="" class="ui image">
                            <div class="after">
                                <div class="content pt50">
                                    <div class="ui header">СЕРВИС<br>И ЗАПЧАСТИ</div>
                                </div>

                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="twelve wide computer sixteen wide mobile column contacts-wrap">
            <div class="ui header header--red fz24">КОНТАКТЫ</div>

            <p class="fz18">
                Единый телефон для справок: 8 (800) 555-39-86 (звонок бесплатный)<br>
  Единый адрес электронной почты: info@vira-trade.ru
            </p>

            <div class="contacts-item">
              <div class="ui header fz24">
                  Центральный офис в Санкт-Петербурге
                </div>
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A25c419ee0d92aae2ad5f763b269e08c77f294a90744f4cc2f122e01d3a7f6103&amp;width=100%25&amp;height=364&amp;lang=ru_RU&amp;scroll=true"></script>
              <div class="ui two column stackable grid contacts-meta fz18">
                <div class="column contacts-data">+7 (812) 946 89-86,
  spb@vira-trade.ru</div>
                <div class="column address">194244, Санкт-Петербург, Витебский пр. 31, корпус 2, литер А<br>
  ПН-ПТ с 9:00 до 18:00</div>
              </div>
            </div>

            <div class="contacts-item">
              <div class="ui header fz24">
                  Филиал в Москве
                </div>
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A56823e1f4ae3a5d08c505d05092cc295a1c66d78c43dd8f6e9ea1a132422ed90&amp;width=100%25&amp;height=396&amp;lang=ru_RU&amp;scroll=true"></script>
              <div class="ui two column stackable grid  contacts-meta fz18">
                <div class="column contacts-data">+7 (499) 653-84-63,
  msk@vira-trade.ru</div>
                <div class="column address">115114 г. Москва, ул. Летниковская, д. 16<br>
ПН-ПТ с 9:00 до 18:00</div>
              </div>

            </div>
            <div class="contacts-item">
              <div class="ui header fz24">
                  Региональный офис в Екатеринбурге
                </div>
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A56823e1f4ae3a5d08c505d05092cc295a1c66d78c43dd8f6e9ea1a132422ed90&amp;width=100%25&amp;height=396&amp;lang=ru_RU&amp;scroll=true"></script>
              <div class="ui two column stackable grid  contacts-meta fz18">
                <div class="column contacts-data">+7 (343) 351-75-66,
  ekb@vira-trade.ru</div>
                <div class="column address">620085 Екатеринбург, ул. Братская, д. 27/3, подъезд 2<br>
ПН-ПТ с 9:00 до 18:00</div>
              </div>
            </div>

            <div class="about-company">
              <div class="ui header header--red fz24">
                О КОМПАНИИ
              </div>
              <p class="fz18">
                «Вира-Трейд» - компания, предоставляющая полный комплекс услуг по производству, поставке и ремонту спецавтотехники.
Компания «Вира-Трейд» осуществляет поставку и обслуживание техники на всей территории РФ, работает с такими крупными заказчиками как: «Сургутнефтегаз», «Роснефть», «Лукойл», «СтройГазКонсалтинг», а также предприятиями энергетического комплекса Северо-Западного, Центрального, Приволжского и Уральского региона.
Наши сотрудники имеют огромный опыт в области производства и реализации спецавтотехники таких производителей как: Oil&Steel, КАМАЗ, ГАЗ, Урал, Нефаз, Hyundai,MAN, Hino, Fusso, МАЗ,  «Ивановская марка», Челябинец, Галичанин, Fassi, Hiab, Palfinger, PM, что позволяет предоставить заказчику информацию о том товаре, который наилучшим образом подойдёт для выполнения поставленных задач.
Компания «Вира-Трейд» постоянно развивает творческий и интеллектуальный потенциал, наращивает техническую и производственную базы. Выверенный алгоритм проектирования и производства позволяет специалистам Компании решать практически любые задачи в четком взаимодействии с Заказчиком.
              </p>

              <div class="ui two column stackable grid meta" >
                <div class="column">
                  <div class="ui header fz18">
                    Юридический адрес и реквизиты:
                  </div>
                  <p class="fz18">
ОOО "Aльтиc Груп" 620024 Eкатeринбург, ул. Hoвинская, 13, oфис 205, ИHН 6679031313, KПП 667901001, OГРH 1136679004923, OКПО 25066477, р/с 40702810722560001908, в ФAКБ «АБСOЛЮТ БAНК» (ОАО), г. Eкатеринбург, к/с 30101810800000000921, БИK 046577921, дирeктoр Злoбин Eгoр Вячeслaвoвич.
                  </p>
                </div>
                <div class="column">
                  <div class="ui header fz18">
                    Aдрес для кoррeспoндeнции:
                  </div>
                  <p class="fz18">
620062, Екатеринбург, ул. Tимирязeва, 13, a/я 18
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    {% include 'includes/footer.njk' %}
{% endblock %}
