{% extends "layouts/default.njk" %}

{% block content %}
    {% include 'includes/header.njk' %}
    {% include 'includes/slider.njk' %}
    {% include 'includes/spec.njk' %}
    {% include 'includes/popular.njk' %}
    {% include 'includes/advantages.njk' %}
    {% include 'includes/about.njk' %}
    {% include 'includes/news.njk' %}
    {% include 'includes/youtube.njk' %}
    {% include 'includes/partners.njk' %}
    {% include 'includes/footer.njk' %}
{% endblock %}
