{% extends "layouts/default.njk" %}

{% block content %}
    {% include 'includes/header.njk' %}
    <div class="ui container">
      <div class="ui breadcrumb">
        <a class="section">Главная</a>
        <i class="my-red circle icon divider"></i>
        <a class="active section">Hiab 1200RS для работы с отходами</a>
      </div>

      <div class="ui grid">
          <div class="four wide column computer only">
              <div class="sidebar-left">
                  <div class="item">
                      <div class="inner">
                        <div class="image-container">
                             <img src="images/spec.png" alt="" class="ui image">
                            <div class="after">
                                <div class="content pt50">
                                    <div class="ui header">СПЕЦ-<br>ПРЕДЛОЖЕНИЕ</div>
                                </div>

                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="inner">
                        <div class="image-container">
                             <img src="images/news-item.png" alt="" class="ui image">
                            <div class="after">
                                <div class="content">
                                    <div class="ui header lined">НОВОСТИ</div>
                                    <div class="time">28.02.2017</div>

                                    <div class="ui small header">HIAB 1200RS
        </div>
                                    <p>
                                        Известный производитель кранов-манипуляторов компания HIAB выпустила новый кран.
                                    </p>
                                    <a href="#" class="fluid  ui red button">Подробнее</a>

                                </div>

                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="twelve wide computer sixteen wide mobile column">
            <div class="news-wrap">
              <div class="ui header news-header">
                  Hiab 1200RS для работы с отходами
                  <div class="ui sub header">
                      13.02.2017
                  </div>
              </div>

              <div class="news-content">
                <p style="font-size: 18px; font-weight: 300;">
                    Известный производитель кранов-манипуляторов компания HIAB выпустила новый кран Jonsered 1200RS для работы с песком, гравием и другими сыпучими материалами.
                </p>

                <p>
                    <div class="ui grid">
                        <div class="mobile only row">
                          <div class="sixteen wide column">
                            <img src="/images/news-image.png" class="ui image"alt="">
                          </div>
                        </div>

                        <div class="eight wide computer column sixteen wide mobile column">
                          Впервые кран был представлен публике на выставке IAA в Ганновере.
                          Новый 11,3 тонный кран предназначен для сбора остатков песка и грунта после производства землеройных работ. Кран также может использоваться для перемещения и транспортировки песка и гравия.
                          Система безопасности в 1200RS включает функцию Variable Stability Limit (VSL), которая следит за тем, насколько эффективно осуществляется контакт лап стабилизаторов с поверхностью грунта. Создается «виртуальная клетка безопасности» для оператора, не позволяющая стреле приближаться к этому пространству. В кране снижен расход топлива, продлен срок службы масла, улучшена эргономика.
                          Вице-президент компании Джон Лопес считает, что новый кран – удобное и безопасное решение для работы в городской среде, где с каждым годом растет потребность в сборе и утилизации мусора и грунта после выполнения землеройных работ.
                          В ближайшем времени новинка поступит в продажу. За более подробной информацией и для предварительного заказа нового крана обращайтесь в компанию "Вира Трейд"

                        </div>
                        <div class="eight wide computer column">
                            <img src="/images/news-image.png" class="ui image computer-only-img" alt="">
                        </div>
                    </div>
                </p>

                <p>
<!--                     <div class="ui three column stackable grid news-add">
                        <div class="column"><img src="images/ni1.png" alt=""></div>
                           <div class="column"><img src="images/ni2.png" alt=""></div>
                           <div class="column"><img src="images/ni3.png" alt=""></div>
                    </div> -->
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>

    {% include 'includes/footer.njk' %}
{% endblock %}
