{% extends "layouts/default.njk" %}

{% block content %}
    {% include 'includes/header.njk' %}
    <div class="ui container">
      <div class="ui breadcrumb">
        <a class="section">Главная</a>
        <i class="my-red circle icon divider"></i>
        <a class="section">Люльки</a>
        <i class="my-red circle icon divider"></i>
        <a class="active section">Люльки для троссовых КМУ</a>
      </div>
    </div>


    <div class="product-wrap">
        <div class="ui container">
            <h2 class="ui header">
              Люлька для троссовых КМУ
            </h2>

            <div class="ui stackable grid">
                <div class="seven wide column">
                    <div class="product-image-wrap">
                        <div class="product-image">
                            <img src="images/product.png" class="ui image" alt="">
                            <div class="control-l">
                                <i class="left angle icon"></i>
                            </div>
                            <div class="control-r">
                                <i class="right angle icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-slider">
                        <div class="owl-carousel product-carousel">
                            <div data-slide="0" class="item"><img src="images/product.png" alt="" class="ui image"></div>
                            <div data-slide="1" class="item"><img src="http://lorempixel.com/560/560/transport/2" alt="" class="ui image"></div>
                            <div data-slide="2" class="item"><img src="http://lorempixel.com/560/560/transport/3" alt="" class="ui image"></div>
                            <div data-slide="3" class="item"><img src="http://lorempixel.com/560/560/transport/4" alt="" class="ui image"></div>
                            <div data-slide="4" class="item"><img src="http://lorempixel.com/560/560/transport/5" alt="" class="ui image"></div>
                            <div data-slide="5" class="item"><img src="http://lorempixel.com/560/560/transport/6" alt="" class="ui image"></div>
                        </div>
                    </div>
                     <div class="product-promo-text tablet-advantages">
                         <p><img src="images/pi1.png" alt="" class="ui image">Доставка по стране<br>и за ее пределы</p>
                         <p><img src="images/pi2.png" alt="" class="ui image">Срок поставки<br>по России 5 дней</p>
                         <p><img src="images/pi3.png" alt="" class="ui image">Предоплата от 20%</p>
                     </div>
                </div>
                <div class="nine wide column">
                    <div class="ui grid ">
                        <div class="row">
                            <div class="sixteen wide mobile eight wide computer column product-definition">
                                <div class="product-price">
                            <h2 class="ui header header--product">
                                Цена:
                            </h2>
                                    <div class="value">96 200 руб.</div>
                                    <div class="subheader">
                                      В наличии
                                    </div>
                                </div>
                                <div class="buy-button">
                                    <div class="ui big red button show-modal">ОТПРАВИТЬ ЗАЯВКУ</div>
                                </div>
                            </div>
                            <div class=" eight wide computer only column product-definition">
                                <div class="product-promo-text computer-advantages">
                                    <p><img src="images/pi1.png" alt="" class="ui image">Доставка по стране<br>и за ее пределы</p>
                                    <p><img src="images/pi2.png" alt="" class="ui image">Срок поставки<br>по России 5 дней</p>
                                    <p><img src="images/pi3.png" alt="" class="ui image">Предоплата от 20%</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="sixteen wide column product-chars">
                                <div class="product-chars-inner">
                                    <h2 class="ui header header--product">
                                        Общие характеристики:
                                    </h2>
                                    <div class="dotted-list">
<!--                                         <ul>
                                            <li><span class="definition">Наименование</span><span class="defined">Универсальная подвесная
                                        корзина</span></li>
                                            <li><span class="definition">Применение</span><span class="defined">Краны-манипуляторы, автокраны,
                                        мостовые краны, козловые краны
                                        и т.д.</span></li>
                                            <li><span class="definition">Способ установки</span><span class="defined">На крюк</span></li>
                                            <li><span class="definition">Соответствие конструкции нормативным документам</span><span class="defined">Приказ РОСТЕХНАДЗОРА № 533 </span></li>
                                            <li><span class="definition">Количество человек</span><span class="defined">2</span></li>
                                            <li><span class="definition">Грузоподъемность</span><span class="defined">от 250 до 500 кг (опционально)</span></li>
                                            <li><span class="definition">Собственный вес</span><span class="defined">не более 200 кг</span></li>
                                            <li><span class="definition">Размеры корзины (ДхШхВ)</span><span class="defined">1400х800х2300 мм</span></li>
                                            <li><span class="definition">Высота борта</span><span class="defined">1100</span></li>
                                            <li><span class="definition">Дополнительные опции</span><span class="defined">Входная калитка с засовом</span></li>
                                            <li><span class="definition">Готовность</span><span class="defined">В производстве</span></li>
                                        </ul> -->
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Наименование</td>
                                                    <td>Универсальная подвесная корзина</td>
                                                </tr>
                                                <tr>
                                                    <td>Применение</td>
                                                    <td>Краны-манипуляторы, автокраны, мостовые краны, козловые краны и т.д.</td>
                                                </tr>
                                                <tr>
                                                    <td>Способ установки</td>
                                                    <td>На крюк</td>
                                                </tr>
                                                <tr>
                                                    <td>Соответствие конструкции нормативным документам</td>
                                                    <td>Приказ РОСТЕХНАДЗОРА № 533</td>
                                                </tr>
                                                <tr>
                                                    <td>Количество человек</td>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <td>Грузоподъемность</td>
                                                    <td>от 250 до 500 кг (опционально)</td>
                                                </tr>
                                                <tr>
                                                    <td>Собственный вес</td>
                                                    <td>не более 200 кг</td>
                                                </tr>
                                                <tr>
                                                    <td>Размеры корзины (ДхШхВ)</td>
                                                    <td>1400х800х2300 мм</td>
                                                </tr>
                                                <tr>
                                                    <td>Высота борта</td>
                                                    <td>1100</td>
                                                </tr>
                                                <tr>
                                                    <td>Дополнительные опции</td>
                                                    <td>Входная калитка с засовом</td>
                                                </tr>
                                                <tr>
                                                    <td>Готовность</td>
                                                    <td>В производстве</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class=" eight wide column product-definition">
                                        <div class="ui three column  grid  mobile-only-adv">
                                          <div class="column">
                                            <div class="img-wrap">
                                              <img src="images/pi1.png" alt="" class="ui image">
                                            </div>
                                            <p class="content">
                                              Доставка по стране<br>и за ее пределы
                                            </p>
                                          </div>
                                          <div class="column">
                                            <div class="img-wrap">
                                              <img src="images/pi2.png" alt="" class="ui image">
                                            </div>
                                            <p class="content">
                                              Срок поставки<br>по России 5 дней
                                            </p>
                                          </div>
                                          <div class="column">
                                            <div class="img-wrap">
                                              <img src="images/pi3.png" alt="" class="ui image">
                                            </div>
                                            <p class="content">Предоплата от 20%</p>
                                          </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                  <div class="ui two column stackable grid">
                    <div class="column">
                                          <div class="product-desc">
                        <h2 class="ui header header--product">
                            Блок описания 1
                        </h2>
                        <div class="content">
Подвесная люлька строительная, представленная в этом разделе каталога компании Вира-Трейд, представляет собой практически универсальное оборудование, предназначенное для проведения самых различных работ. Данная спецтехника изготовлена по оригинальной технологии, разработанной нашими специалистами на основе лучших моделей корейского производства. При этом подвесная люлька для автокрана, которую предлагает приобрести Вира-Трейд, максимально оптимизирована для эксплуатации в условиях России и других государств постсоветского пространства, что значительно повышает спрос на такое оборудование среди покупателей, которые представляют эти регионы.
Наши люльки строительные подвесные характеризуются безупречным качеством, повышенной надежностью, максимальной безопасностью пользователей, богатыми функциональными возможностями и максимальной эффективностью. Эти важные для любого предпринимателя параметры идеальным образом сочетаются с достаточно выгодными условиями, при которых Вира-Трейд предлагает приобрести люльки строительные подвесные (Москва, Екатеринбург, Санкт-Петербург).
Представляем общие технические характеристики оборудования, описание его преимуществ и возможностей использования, а также перечень основных достоинств, которые открывает для Вас предложение купить люльки строительные подвесные в компании Вира-Трейд.
                        </div>
                    </div>
                    </div>
                    <div class="column">

                                          <div class="product-desc">
                        <h2 class="ui header header--product">
                            Блок описания 2
                        </h2>
                        <div class="content">
Подвесная люлька строительная, представленная в этом разделе каталога компании Вира-Трейд, представляет собой практически универсальное оборудование, предназначенное для проведения самых различных работ. Данная спецтехника изготовлена по оригинальной технологии, разработанной нашими специалистами на основе лучших моделей корейского производства. При этом подвесная люлька для автокрана, которую предлагает приобрести Вира-Трейд, максимально оптимизирована для эксплуатации в условиях России и других государств постсоветского пространства, что значительно повышает спрос на такое оборудование среди покупателей, которые представляют эти регионы.
Наши люльки строительные подвесные характеризуются безупречным качеством, повышенной надежностью, максимальной безопасностью пользователей, богатыми функциональными возможностями и максимальной эффективностью. Эти важные для любого предпринимателя параметры идеальным образом сочетаются с достаточно выгодными условиями, при которых Вира-Трейд предлагает приобрести люльки строительные подвесные (Москва, Екатеринбург, Санкт-Петербург).
Представляем общие технические характеристики оборудования, описание его преимуществ и возможностей использования, а также перечень основных достоинств, которые открывает для Вас предложение купить люльки строительные подвесные в компании Вира-Трейд.
                        </div>
                    </div>
                  </div>
                </div>

        </div>
    </div>
    {% include 'includes/footer.njk' %}
{% endblock %}
