{% extends "layouts/default.njk" %}

{% block content %}
    {% include 'includes/header.njk' %}
    <div class="ui container">
      <div class="ui breadcrumb">
        <a class="section">Главная</a>
        <i class="my-red circle icon divider"></i>
        <a class="active section">Запчасти и сервис</a>
      </div>

      <div class="ui grid">
          <div class="four wide column computer only">
              <div class="sidebar-left">
                  <div class="item">
                      <div class="inner">
                        <div class="image-container">
                             <img src="images/item2.png" alt="" class="ui image">
                            <div class="after">
                                <div class="content pt50">
                                    <div class="ui header">КОНСУЛЬТАЦИЯ<br>СПЕЦИАЛИСТА</div>

                                    <p>
Оформите заявку и наши специальсты свяжутся с Вами в течении 10 минут.
                                    </p>
                                    <a href="#" class="fluid  ui red button show-modal">Оформить заявку</a>

                                </div>

                            </div>
                        </div>
                      </div>
                  </div>

                  <div class="item">
                      <div class="inner">
                        <div class="image-container">
                             <img src="images/spec.png" alt="" class="ui image">
                            <div class="after">
                                <div class="content pt50">
                                    <div class="ui header">СПЕЦ-<br>ПРЕДЛОЖЕНИЕ</div>
                                </div>

                            </div>
                            <div class="subafter">

                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="inner">
                        <div class="image-container">
                             <img src="images/news-item.png" alt="" class="ui image">
                            <div class="after">
                                <div class="content">
                                    <div class="ui header lined">НОВОСТИ</div>
                                    <div class="time">28.02.2017</div>

                                    <div class="ui small header">HIAB 1200RS</div>
                                    <p>
                                        Известный производитель кранов-манипуляторов компания HIAB выпустила новый кран.
                                    </p>
                                    <a href="#" class="fluid  ui red button">Подробнее</a>

                                </div>

                            </div>
                        </div>
                      </div>
                  </div>

                  <div class="item">
                      <div class="inner">
                        <div class="image-container">
                             <img src="images/item1.png" alt="" class="ui image">
                            <div class="after">
                                <div class="content pt50">
                                    <div class="ui header">СЕРВИС<br>И ЗАПЧАСТИ</div>
                                </div>

                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="twelve wide computer sixteen wide mobile column contacts-wrap">
            <div class="ui header header--red fz24 underline">ЗАПЧАСТИ И СЕРВИС</div>

            <h2 class="ui header">Запчасти</h2>

            <div class="spare-icons">
              <div class="ui two column centered grid">
                <div class="row">
                  <div class="column"><img class="ui image logo1" src="images/pal.png"></div>
                  <div class="column"><img class="ui image logo2" src="images/oil.png"></div>

                </div>

                <div class="row">
                  <div class="column"><img class="ui image logo3" src="images/int.png"></div>
                  <div class="column"><img class="ui image logo4" src="images/ural.png"></div>
                </div>
                <div class="row">
                  <div class="column"><img class="ui image logo5" src="images/hino.png"></div>
                  <div class="column"><img class="ui image logo6" src="images/kam.png"></div>
                </div>
              </div>
            </div>

          <p class="service">
            <div class="ui header fz20">ООО «Вира-Трейд» </div>

              Наша компания осуществляет техническую поддержку проданного оборудования, поставку запасных частей и расходных материалов.
              У нас вы всегда сможете приобрести запасные части и расходные материалы на всю поставляемую продукцию. Большой склад запасных частей и налаженный механизм отправки товара в регионы, позволяет работать с клиентами расположенными в самых отдалённых уголках России.
              Квалифицированные менеджеры помогут выбрать необходимые детали. Одним из преимуществ нашей компании является высокая скорость  оформления и отправки товара, что особенно важно в случае непредвиденного ремонта.


          </p>
            <h2 class="ui header">Сервис</h2>
            <p>
              Наша компания предлагает широкий спектр услуг по ремонту и обслуживанию спецавтотехники отечественного и зарубежного производства. Многолетний опыт работы, квалифицированный персонал, уникальное ремонтное и диагностическое оборудование позволяют производить обслуживание любой сложности.
            </p>

            <div class="ui header fz20">Услуги:</div>

            <div class="ui two column stackable grid service-list">
              <div class="column">
                <div class="item">
                  <img src="images/cog.png" alt="">Техническое обслуживание шасси КАМАЗ, МАЗ, Урал, Газ, Hino
                </div>

                <div class="item">
                  <img src="images/cog.png" alt="">Техническое обслуживание КМУ, АГП
                </div>

                <div class="item">
                  <img src="images/cog.png" alt="">Ремонт ходовой части
                </div>

                <div class="item">
                  <img src="images/cog.png" alt="">Кузовной ремонт
                </div>

                <div class="item">
                  <img src="images/cog.png" alt="">Замену масла в гидравлической
системе
                </div>
              </div>
              <div class="column">

                <div class="item">
                  <img src="images/cog.png" alt="">Ремонт гидроцилиндров,
в т.ч. телескопических
                </div>

                <div class="item">
                  <img src="images/cog.png" alt="">Диагностика и очистка гидросистемы
                </div>

                <div class="item">
                  <img src="images/cog.png" alt="">Сервисное обслуживание
                </div>
              </div>
            </div>

            <div class="preim">
              <h2 class="ui centered header">ПРЕИМУЩЕСТВА</h2>

              <div class="items">
                <div class="ui four column doubling grid">
                  <div class="column fz16">
                    <div class="preim-img-wrap">
                       <img src="images/pr1.png" alt="" class="ui centered image">
                    </div>
                   <p class='content'>Обслуживание<br>
любой сложности</p>
                    </div>
                  <div class="column fz16">
                    <div class="preim-img-wrap">
                      <img src="images/pr2.png" alt="" class="ui centered image">
                    </div>
                    <p class='content'>Уникальное<br>
оборудование</p>
                    </div>
                  <div class="column fz16">
                    <div class="preim-img-wrap">
                      <img src="images/pr3.png" alt="" class="ui centered image">
                    </div>
                    <p class='content'>Выездной<br>
сервис</p>
                    </div>
                  <div class="column fz16">
                    <img src="images/pr4.png" alt="" class="ui centered image"><p class='content'>Склад<br>
запасных частей</p>
                    </div>
                </div>
              </div>
            </div>

          </div>

      </div>
    </div>

    {% include 'includes/footer.njk' %}
{% endblock %}
