{% extends "layouts/default.njk" %}

{% block content %}
    {% include 'includes/header.njk' %}
    <div class="ui container">
      <div class="ui breadcrumb">
        <a class="section">Главная</a>
        <i class="my-red circle icon divider"></i>
        <a class="section">Запчасти и свервис</a>
        <i class="my-red circle icon divider"></i>
        <a class="active section">Запчасти для КМУ Palfinger</a>
      </div>

      <div class="ui grid">
          <div class="four wide column computer only">
              <div class="sidebar-left">
                  <div class="item">
                      <div class="inner">
                        <div class="image-container">
                             <img src="images/spec.png" alt="" class="ui image">
                            <div class="after">
                                <div class="content pt50">
                                    <div class="ui header">СПЕЦ-<br>ПРЕДЛОЖЕНИЕ</div>
                                </div>

                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="inner">
                        <div class="image-container">
                             <img src="images/news-item.png" alt="" class="ui image">
                            <div class="after">
                                <div class="content">
                                    <div class="ui header lined">НОВОСТИ</div>
                                    <div class="time">28.02.2017</div>

                                    <div class="ui small header">HIAB 1200RS</div>
                                    <p>
                                        Известный производитель кранов-манипуляторов компания HIAB выпустила новый кран.
                                    </p>
                                    <a href="#" class="fluid  ui red button">Подробнее</a>

                                </div>

                            </div>
                        </div>
                      </div>
                  </div>

              </div>
          </div>
          <div class="twelve wide computer sixteen wide mobile column contacts-wrap">
            <div class="ui two column stackable grid">

              <div class="column">
                <div class="ui header fz24">Запчасти для КМУ Palfinger</div>
                <p class="fz14">
                  Компания «Вира-Трейд» реализует запасные части для крано-манипуляторного оборудования фирмы «Палфингер» по выгодным ценам. Есть свой склад запчастей Palfinger, осуществляется доставка.
                  Регулярные поступления позволяют поддерживать максимально полную номенклатуру, включая дефицитные позиции.
                  По телефону 8 (800) 55-539-86 специалисты «Вира-Трейд» подберут комплектующие для любых крано-манипуляторных установок, примут заявку, расскажут о гарантиях и сервисном обслуживании.
                </p>
<!--                 <div class="catalog-details-wrap">
                  <div class="ui header header-catalog">Каталоги запчастей КМУ Palfinger <span class="my-red">.pdf</span></div>
                </div>

                <div class="ui section catalog-details-header">
                  Развернуть каталог
                  <i class="ui angle down icon "></i>
                </div>
                <div class="catalog-details-content">
                  <ul>
                    <li>
                      Каталог запчастей для КМУ Palfinger PC900 <a class="download" href="">Загрузить</a>
                    </li>
                    <li>
                      Каталог запчастей для КМУ Palfinger PC900 <a class="download" href="">Загрузить</a>
                    </li>
                    <li>
                      Каталог запчастей для КМУ Palfinger PC900 <a class="download" href="">Загрузить</a>
                    </li>
                    <li>
                      Каталог запчастей для КМУ Palfinger PC900 <a class="download" href="">Загрузить</a>
                    </li>
                    <li>
                      Каталог запчастей для КМУ Palfinger PC900 <a class="download" href="">Загрузить</a>
                    </li>
                  </ul>
                </div> -->

              </div>
              <div class="column spare-meta">

                <div class="spare-icon">
                  <img src="images/pal.png" alt="" class="ui image">
                </div>

                <h3 class="ui header fz20">
                  Вы можете купить:
                </h3>
                <ul class="styled-list">
                  <li>Детали, узлы</li>
                  <li>Эксплуатационно-расходные жидкости и материалы</li>
                  <li>Элементы в сборе;</li>
                  <li>Прочие виды запчастей Palfinger.</li>
                </ul>
                <div class="ui big red fluid button fz18 show-modal">
                  ОТПРАВИТЬ ЗАЯВКУ
                </div>
              </div>
            </div>

            <div class="ui one column grid">
              <div class="row">
                <div class="column">
                  <div class="ui header">Запчасти в наличии</div>
<!--                     <table class="ui celled table">
                      <thead>
                        <tr><th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                      </tr></thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>2</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table> -->
                </div>
              </div>
              <div class="row">
                <div class="column">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dignissimos saepe, perferendis repellat, reprehenderit deserunt rem! Nam laborum dolor cupiditate a inventore, rerum optio quas numquam deserunt officiis natus dolores asperiores perspiciatis atque, mollitia veniam, laudantium explicabo voluptate reiciendis. In praesentium corporis magni unde sunt voluptas nobis. Saepe illum suscipit nulla dolorem ipsum corporis, iste qui mollitia delectus natus quam aut nihil reprehenderit. Et quibusdam id fugiat voluptatibus sunt eos sed, similique impedit possimus. Expedita quam minus et alias fugit deleniti dolorum quis amet aut libero maiores, mollitia consectetur ab rem sunt ullam cupiditate quas nemo ex maxime officiis distinctio.
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>

    {% include 'includes/footer.njk' %}
{% endblock %}
