<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vira-Trade</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.css" />
    <link rel="stylesheet" href="/bower_components/owl.carousel/dist/assets/owl.carousel.css" />
    <link rel="stylesheet" href="/bower_components/owl.carousel/dist/assets/owl.theme.default.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include 'includes/mobile_menu.njk' %}

    <a href="#0" class="cd-top"><i class="angle up icon"></i></a>

    <div class="pusher">
      {% block content %}{% endblock %}
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/semantic/dist/semantic.js"></script>
    <script src="/bower_components/owl.carousel/dist/owl.carousel.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
    <div class="ui small modal modal-form">
      <div class="content">
      <img class='close-icon' src="images/close-icon.png" alt="">
        <div class="form-wrap">

          <div class="ui header centered">
            Заполните форму и мы с Вами
            свяжемся в течении 10 минут
          </div>

          <form class="form ui form">
            <div class="field">
              <input type="text" name="name" placeholder="ФИО">
            </div>
            <div class="field">
              <input type="text" placeholder="Контактный телефон">
            </div>
            <div class="field">
              <input type="text" placeholder="E-mail">
            </div>
            <div class="field">
              <textarea name="comment" placeholder="Ваш комментарий" rows="3"></textarea>
            </div>
            <button class="ui red fluid button" type="submit">Отправить заявку</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
