 <div class="about-wrap">
   <div class="ui container">
    <div class="about">
      <h2 class="ui header header--red">
        О КОМПАНИИ
      </h2>
      <div class="content">
        <div class="ui grid">
          <div class="six wide computer sixteen wide mobile column">
            <img src="images/about.png" alt="" class="ui image">
          </div>
          <div class="ten wide computer sixteen wide mobile column">
            <p class="first">«Вира-Трейд»  компания, предоставляющая полный комплекс услуг по производству, поставке и ремонту спецавтотехники.</p>
            <h3 class="ui header">Услуги</h3>
            <p>Компания «Вира-Трейд» осуществляет поставку и обслуживание техники на всей территории РФ, работает с такими крупными заказчиками как: «Сургутнефтегаз», «Роснефть», «Лукойл», «СтройГазКонсалтинг», а также предприятиями энергетического комплекса Северо-Западного, Центрального, Приволжского и Уральского региона.</p>
            <h3 class="ui header">Опыт</h3>
            <p>Наши сотрудники имеют огромный опыт в области производства и реализации спецавтотехники таких производителей как: Oil&Steel, КАМАЗ, ГАЗ, Урал, Нефаз, Hyundai,MAN, Hino, Fusso, МАЗ,  «Ивановская марка», Челябинец, Галичанин, Fassi, Hiab, Palfinger, PM, что позволяет предоставить заказчику информацию о том товаре, который наилучшим образом подойдёт для выполнения поставленных задач.</p>
            <h3 class="ui header">Качество обслуживания</h3>
            <p>Компания «Вира-Трейд» постоянно развивает творческий и интеллектуальный потенциал, наращивает техническую и производственную базы. Выверенный алгоритм проектирования и производства позволяет специалистам Компании решать практически любые задачи в четком взаимодействии с Заказчиком.</p>
            <p>
              <a href="#" class="link--red">Читать еще...</a>
            </p>
          </div>
        </div>
      </div>
    </div>
   </div>
 </div>
