<div class="advantages">
  <div class="ui container">
    <h2 class="ui center aligned header header--red">НАШИ ПРЕИМУЩЕСТВА</h2>
    <div class="ui four column doubling grid">
      {% for item in [{num:1, d: "Высокое качество<br>продукции"}, {num: 2, d: 'Индивидуальный
подход<br>к клиенту'}, {num: 3, d: 'Постоянным<br>
клиентам скидки!'}, {num: 4, d: 'Техническая поддержка<br>
24 часа в сутки'}] -%}
        <div class="column">
          <div class="advantages-item">
            <div class="img-wrap">
              <img src="images/a{{item.num}}.png" alt="" class="ui centered image">
            </div>
            <div class="content">
              {{item.d | safe }}
            </div>
          </div>
        </div>
      {%- endfor  %}
    </div>
  </div>
</div>
