 <div class="ui container">
  <header>
    <div class="top-contacts-wrap">
      <div class="ui stackable two column grid ">
        <div class="four wide column">
          <a href="/">
            <img src="images/logo.png" alt="" class="logo">
          </a>
        </div>
        <div class="twelve wide computer sixteen wide tablet column">
          <div class="ui grid top-contacts">
              <div class="four wide computer four wide tablet sixteen wide mobile column item">
                <img src="images/locate.png" class="contacts-icon" alt="">
                Наши адреса
              </div>
              <div class="four wide computer four wide tablet sixteen wide mobile column item">
                8 (800) 555-39-86
                <div class="sub">
                  <img src="images/phone.png" alt="" class="contacts-icon">Бесплатно по России
                </div>
              </div>
              <div class="four wide computer four wide tablet sixteen wide mobile column item">
                8 (495) 212-11-31
                <div class="sub">
                  <img src="images/at.png" alt="" class="contacts-icon">info@vira-trade.ru
                </div>
              </div>
              <div class="four wide computer four wide tablet sixteen wide mobile column">
               <div class="search-input">
                  <div class="ui icon input">
                     <input type="text" placeholder="Поиск по сайту">
                     <i class="search icon"></i>
                  </div>
               </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui grid menu--top-wrap">
      <div class="computer only row">
        <div class="sixteen wide column">
          <div class="ui red seven item inverted menu menu--top">
             <a class="active item">
             Люлки
             </a>
             <a class="item">
             Миникраны
             </a>
             <a class="item">
             Удлинители<br>стрел КМУ
             </a>
             <a class="item">
             Захваты
             </a>
             <a class="item">
             Буровое<br>оборудование
             </a>
             <a class="item">
             Запчасти и сервис
             </a>
             <div class="ui dropdown red item more-menu">
                Еще
                <i class="angle down icon"></i>
                <div class="ui red three item inverted menu more-menu-sub">
                   <a class="item" style="color: #fff !important">Безопасность</a>
                   <a class="item" style="color: #fff !important">Автоспецтехника</a>
                   <a class="item" style="color: #fff !important">Лизинг</a>
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </header>
 </div>

