<div class="sixteen wide mobile eight wide tablet four wide computer column">
  <div class="card computer-card">

    <div class="header--main">Универсальная подъемная корзина для автокрана</div>

    <div class="inner">
      <div class="image product-image-container">
        <img class="ui image" src="images/crane.jpg" alt="">
        <div class="after"></div>
      </div>
      <div class="content">
        <div class="header">
          <div class="ui two column stackable grid main-item-data">
            <div class="column">
              <div class="price">5 000 руб.</div>
            </div>
            <div class="column">
              <div class="presence presence--true">в наличии</div>
            </div>
          </div>

        </div>
        <div class="description">
          Макс. 1500 г/п., кг,<br>
          Ширина вил от 500 до 900 мм,<br>
          Макс. высота груза от 1100 до 1700 мм.
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-card">
    <div class="ui grid">
      <div class="row">
        <div class="seven wide column">
          <div class="image product-image-container">
            <img class="ui image" src="images/crane.jpg" alt="">
            <div class="after"></div>
          </div>
        </div>
        <div class="nine wide column">
          <div class="title">Универсальная подъемная корзина для автокрана</div>
          <div class="presence presence--true">В наличии</div>
          <div class="price">5 000 руб.</div>
        </div>
      </div>
    </div>
  </div>
</div>
