<div class="ui one column mobile only grid">
   <div class="column">
          <!-- <img src="images/logo.png" class="ui image mobile-logo" alt=""></div> -->
                      <!-- <a class="item mobile-menu-control"><i class="content icon"></i></a> -->
      <div class="ui fixed four item white menu mobile-menu-wrap">
        <div class="left  menu">

          <div class="item mobile-logo-wrap">
            <img src="images/logo.png" alt="" class="ui image mobile-logo">

          </div>

          <div class="item phone-wrap">
                    <div class="phone">8 (800) 555-39-86</div>
          </div>
        </div>

        <div class="right menu">
          <div class="item">
              <i class="search icon"></i>

            <a class="mobile-menu-control"><i class="content icon"></i></a>
          </div>
        </div>
      </div>

   </div>
</div>
<div class="ui right vertical red inverted menu sidebar">
  <div class="side-menu-wrap">
   <a class="active item">
   Люлки
   </a>
   <a class="item">
   Миникраны
   </a>
   <a class="item">
   Удлинители стрел КМУ
   </a>
   <a class="item">
   Захваты
   </a>
   <a class="item">
   Буровое оборудование
   </a>
   <a class="item">
   Запчасти и сервис
   </a>
  <a class="item" style="color: #fff !important">Безопасность</a>
  <a class="item" style="color: #fff !important">Автоспецтехника</a>
  <a class="item" style="color: #fff !important">Лизинг</a>
  </div>
</div>
