 <div class="ui container">
   <div class="news">
      <div class="ui two column grid">
        <div class="column">
          <h2 class="ui header header--red"> НОВОСТИ </h2>
        </div>
        <div class="column">
          <div id="news_nav" class="right floated"></div>
        </div>
      </div>
      <div class="owl-carousel news-carousel">
        <div class="item"><img src="images/n1.png" alt="">
          <div class="slide-meta">
            <div class="slide-date">28.02.2017</div>
            <div class="slide-desc">Hiab 1200RS для работы с отходами</div>
          </div>
        </div>
        <div class="item"><img src="images/n2.png" alt="">
          <div class="slide-meta">
            <div class="slide-date">28.02.2017</div>
            <div class="slide-desc">Hiab 1200RS для работы с отходами</div>
          </div>
        </div>
        <div class="item"><img src="images/n3.png" alt="">
          <div class="slide-meta">
            <div class="slide-date">28.02.2017</div>
            <div class="slide-desc">Hiab 1200RS для работы с отходами</div>
          </div>
        </div>
        <div class="item"><img src="images/n4.png" alt="">
          <div class="slide-meta">
            <div class="slide-date">28.02.2017</div>
            <div class="slide-desc">Hiab 1200RS для работы с отходами</div>
          </div>
        </div>
        <div class="item"><img src="images/n2.png" alt="">
          <div class="slide-meta">
            <div class="slide-date">28.02.2017</div>
            <div class="slide-desc">Hiab 1200RS для работы с отходами</div>
          </div>
        </div>
      </div>
   </div>
 </div>
