<div class="partners-wrap">
  <div class="ui container">
    <div class="partners">
      <div class="ui two column grid">
        <div class="column">
            <h2 class="ui header header--red">НАШИ ПАРТНЕРЫ</h2> </div>
        <div class="column">
          <div id="partners_nav" class="right floated"></div>
        </div>
      </div>

      <div class="owl-carousel partners-carousel">
          <div class="item"><img src="images/p1.png" alt=""></div>
          <div class="item"><img src="images/p2.png" alt=""></div>
          <div class="item"><img src="images/p3.png" alt=""></div>
          <div class="item"><img src="images/p4.png" alt=""></div>
          <div class="item"><img src="images/p5.png" alt=""></div>
          <div class="item"><img src="images/p6.png" alt=""></div>
          <div class="item"><img src="images/p7.png" alt=""></div>
      </div>
    </div>
  </div>
</div>
