<div class="ui container">
  <div class="popular">
    <div class="main-items">
      <h2 class="ui header header--red">
        НАША ПРОДУКЦИЯ
      </h2>

      <div class="ui grid">
        {% for row in [1,2] %}
          <div class="row">

            {% for num in [1,2,3,4] %}
              {% include 'includes/main-item.njk' %}
            {% endfor %}
          </div>
        {% endfor %}
        <div class="show-more">
          <div class="fluid ui red centered button">
            Показать еще
            <i class="angle down icon"></i>
          </div>
        </div>
        <div class="rows--hidden">
          <div class="ui grid">
            {% for row in [1,2] %}
              <div class="row">

                {% for num in [1,2,3,4] %}
                  {% include 'includes/main-item.njk' %}
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div><!--rows hidden-->
        <div class="close-up">
          <div class="fluid ui red centered button">
            Свернуть
            <i class="angle up icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
