<div class="ui container">
  <div class="slider">
     <div class="owl-carousel owl-slider owl-theme slider-caruseul">
        <div class="slide">
           <div class="image" style="background:url(images/slide-main.png)"></div>
            <div class="slide__text">
              <div class="title">СПЕЦПРЕДЛОЖЕНИЕ НА ОБОРУДОВАНИЕ ФИРМЫ “ИНМАН”</div>

              <a href="#" class="button">Читать далее...</a>
            </div>

            <div class="after"></div>
        </div>

        <div class="slide">
           <div class="image" style="background:url(images/slide-main.png)"></div>
            <div class="slide__text">
              <div class="title">СПЕЦПРЕДЛОЖЕНИЕ НА ОБОРУДОВАНИЕ ФИРМЫ “ИНМАН”</div>

              <a href="#" class="button">Читать далее...</a>
            </div>

            <div class="after"></div>
        </div>

        <div class="slide">
           <div class="image" style="background:url(images/slide-main.png)"></div>
            <div class="slide__text">
              <div class="title">СПЕЦПРЕДЛОЖЕНИЕ НА ОБОРУДОВАНИЕ ФИРМЫ “ИНМАН”</div>

              <a href="#" class="button">Читать далее...</a>
            </div>

            <div class="after"></div>
        </div>
     </div>
  </div>
</div>
