<div class="ui container">
  <div class="specs">
    <h2 class="ui header header--red">
      СПЕЦПРЕДЛОЖЕНИЯ
    </h2>

    <div class="ui stackable three column grid container">
      {% for num in [1,2,3] %}
        {% if num == 3%}
          <div class="column main-image-column third-spec">
        {% else %}
          <div class="column main-image-column">
        {% endif %}
          <a href="#" class="card">
            <div class="main-image-container" style="background: url(images/sp{{num}}.png) no-repeat; background-position: center; background-size: cover;">
              <!-- <img src="images/sp{{num}}.png"> -->
              <div class="after">
                <div class="header">МОНТАЖНЫЕ ЛЮЛЬКИ (КОРЗИНЫ)</div>
                <div class="content">Для любых кранов и КМУ</div>
                <div class="price">84 900</div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
