<div class="ui container">
  <div class="youtube">
    <div class="ui two column grid">
      <div class="column">
          <h2 class="ui header header--red"> МЫ НА YOUTUBE </h2> </div>
      <div class="column">
        <div id="youtube_nav" class="right floated"></div>
      </div>
    </div>

    <div class="owl-carousel youtube-carousel">
        <div class="item"><img src="images/y1.png" alt="">
          <div class="slide-meta">
            <div class="slide-desc">КАМАЗ 43118 КМУ Palfinger PK15500 с люлькой</div>
          </div>
        </div>
        <div class="item"><img src="images/y2.png" alt="">
          <div class="slide-meta">
            <div class="slide-desc">КАМАЗ 65117 с КМУ ИНМАН ИТ 180</div>
          </div>
        </div>
        <div class="item"><img src="images/y3.png" alt="">
          <div class="slide-meta">
            <div class="slide-desc">Hiab 1200RS для работы с отходами</div>
          </div>
        </div>
        <div class="item"><img src="images/y2.png" alt="">
          <div class="slide-meta">
            <div class="slide-desc">КАМАЗ 65117 с КМУ ИНМАН ИТ 180</div>
          </div>
        </div>
    </div>
  </div>
</div>
